<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jack.litepaltest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="org.litepal.LitePalApplication">
        <!-- 由于操作数据库时需要用到Context，而我们显然不希望在每个接口中都去传一遍这个参数，
        那样操作数据库就显得太繁琐了。因此，LitePal使用了一个方法来简化掉Context这个参数，
        只需要在AndroidManifest.xml中配置一下LitePalApplication，
        所有的数据库操作就都不用再传Context了 ,如上：android:name="org.litepal.LitePalApplication"-->
        <activity
            android:name="com.jack.litepaltest.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
